[submodule "packages/qiskit-metal"]
	path = packages/qiskit-metal
	url = https://github.com/abhishekchak52/qiskit-metal.git
[submodule "packages/pyEPR"]
	path = packages/pyEPR
	url = https://github.com/abhishekchak52/pyEPR.git
[submodule "ML_qubit_design"]
	path = ML_qubit_design
	url = https://github.com/abhishekchak52/ML_qubit_design.git
[submodule "packages/SQuADDS"]
	path = packages/SQuADDS
	url = https://github.com/abhishekchak52/SQuADDS.git
